[submodule "wstcp"]
	path = wstcp
	url = https://github.com/MercuryWorkshop/wstcp
[submodule "bare-client-custom"]
	path = bare-client-custom
	url = https://github.com/MercuryWorkshop/bare-client-custom
